*{
    margin: 0;
    padding: 0;
}
.first{
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    background-position: center;
    background-size: cover;
    padding: 18rem 0;
    text-align: center;
    background-attachment: fixed;
}
.first h1{
    color: #212529;
    font-size: 88px;
}
.first h2{
    color: #212529;
    font-size: 28px;
    margin-bottom: 40px;
}
.first a{
    background-color: #1D809f;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
}
.first a:hover{
 background-color: #042631;

}
.second{

    text-align: center;
    padding: 5rem;
}
.second h3{
    color: #212529;
    font-size: 30px;
}
.second p{
    color: #212529;
    font-size: 20px;
    margin-bottom: 40px;
}
.second .second-btn{
    background-color: #212529;
    color: #ffffff;
    padding: 20px 40px;
    border-radius:  5px;
    text-decoration:  none;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
}
.second .link{
    color: #1D809f;
}
.second .second-btn:hover{
    background-color: #281818;
}
.third h1{
 
   font-size: 3rem;
   margin-bottom: 40px;
}
.third a{
    background-color: #1D809f;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
    background-attachment: fixed;

}
.third a:hover{
    background-color: #175163;
}
.third{
   background-position: center;
   background-size: cover;
   text-align: center;
   padding: 18rem 0;
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
    background-attachment: fixed;
}
.fourth{
    background-color: #1D809f;
    text-align: center;
    padding: 5rem 0;
    background-attachment: fixed;
}
.fourth h1{
    color: #ffffff;
    margin-bottom: 40px;
}
.fourth-btn1{
    background-color: #fff;
    color: #1D809f;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.5s;
    margin-right: 10px;
  
}
.fourth-btn2{
    background-color: #212529;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 10px;
    transition: 0.5s;
}
